body {
    background-image: url("../assets/images/pantalla.jpg");
}

.logo {
    width: 70%;
    height: 50%;
    padding-top: 5%;
    margin-left: 15%;
}
.button {
    margin-left: 37%;
    padding-top: 40%;  
}
.title {
    text-align: center;
}